.idea/

android/build
RNSegmentIOAnalytics.xcodeproj/xcuserdata
node_modules/

ios/Pods/
/android/.gradle
/android/.project
/android/.settings
/ios/RNSegmentIOAnalytics.xcodeproj/project.xcworkspace/xcuserdata/lunchmeat.xcuserdatad/UserInterfaceState.xcuserstate
/ios/RNSegmentIOAnalytics.xcodeproj/xcuserdata/lunchmeat.xcuserdatad/xcschemes/xcschememanagement.plist
